DATABASE_URL = "MONGO_DB_URL"

API_V1_STR = "/api/v1"
PROJECT_NAME = "Codinsight Api"
DESCRIPTION = "An API for explaining code snippets using LLM"
VERSION="1.0.0b"


SECRET_KEY = "YOUR_SECRET_KEY_HERE"
ACCESS_TOKEN_EXPIRE_MINUTES = "30"
ALLOWED_ORIGINS="*"

# AWS settings
AWS_ACCESS_KEY_ID = "YOUR_AWS_ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY = "YOUR_AWS_SECRET_ACCESS_KEY"
AWS_REGION = "us-west-2"

# LLM settings
LLM_API_KEY="LLM_API_KEY"
MODEL="MODEL"